customtkinter==5.2.2
discord.py==2.5.2
keyboard==0.13.5
matplotlib==3.10.1
numpy==2.2.5
ollama==0.4.8
openai_whisper==20240930
psutil==7.0.0
pyaudio==0.2.14
pyqtgraph==0.13.7
python-dotenv==1.1.0
realtimestt==0.3.100
RealtimeTTS==0.5.3
scipy==1.15.1
simpleaudio==1.0.4
sounddevice==0.5.1
soundfile==0.13.1
tts==0.22.0
whisper==1.1.10
